.content{
  width: 68%;
}
.main{
  overflow: hidden;
  border: 1px solid rgb(156, 156, 197);
  border-radius: 5px;
}
.title{
  text-align: left; 
  margin-left: 20px;
}
.container{
  width: 90%;
  margin-bottom: 20px;
}
.container textarea{
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  /* width: calc(100% - 20px); */
  margin-left: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.send{
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid rgb(156, 156, 197);
  border-radius: 5px;
  background: rgb(129, 129, 182);
  color: white;
  display: flex;
  margin: 0 0 0 auto;
}