.header{
  width: 100%;
  background: rgb(156, 156, 197);
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.headerBlock h1{
  color: rgb(34, 34, 116);
}
.headerBlock{
  display: flex;
}
.headerBlock >img{
  width: 70px;
  height: 70px;
  margin-right: 10px;
  margin-left: 20px;
}
.loginBlock{
  font-size: 22px;
  padding-right: 20px;
}
.item{
  color: white;
}
.item:hover{
  text-decoration: underline;
}
